/* src/styles.scss */

/* PrimeNG theme */
@import 'primeng/resources/themes/lara-dark-amber/theme.css';

/* PrimeNG core */
@import 'primeng/resources/primeng.min.css';

/* PrimeIcons */
@import 'primeicons/primeicons.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import 'prismjs/themes/prism-tomorrow.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/tokens';
@import './styles/utilities';
@import './styles/primitives';
@import './styles/prime-bridge';
