/* src/styles.scss */

/* PrimeNG theme */
@import 'primeng/resources/themes/saga-blue/theme.css';

/* PrimeNG core */
@import 'primeng/resources/primeng.min.css';

/* PrimeIcons */
@import 'primeicons/primeicons.css';

/* If you still need Tailwind, leave these */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
  }
  app-root {
    display: block;
    height: 100%;
  }
  
  